html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e6f7ec;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.cabecalho .logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cabecalho .logo {
  width: 40px;
  height: auto;
}

.cabecalho .nome {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.cabecalho .menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.cabecalho .icones {
  list-style: none;
  display: flex;
  gap: 20px;
}

.cabecalho .icones li a {
  text-decoration: none;
  color: #000;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background 0.3s;
  font-weight: 500;
}

.cabecalho .icones li a:hover {
  background-color: #4CAF50;
  color: #fff;
}

.cabecalho .btn-cadastro {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  transition: background-color 0.1s;
  cursor: pointer;
}

.cabecalho .btn-cadastro:hover {
  background-color: #43a047;
  box-shadow: 0 0 10px #4CAF50;
}

h1{
  color: #111111;
}

h3{
  color: #111111;
}

p {
  color: #1f3a2e;
}

.sobre {
  display: flex;
  align-items: center; /* Alinha verticalmente ao centro */
  justify-content: space-between; /* Distribui o espaço entre os elementos */
  gap: 40px; /* Espaço entre o texto e a imagem */
  padding: 40px; /* Adiciona um espaçamento interno */
  line-height: 1.5;
}

.sobre .titulo-sobre{
  font-size: 30px;
  margin-bottom: 20px;
}

.sobre .info-sobre{
  max-width: 600px; /* Limita a largura máxima do texto */
  font-weight: 350;
}

.sobre img {
  width: 30%; /* Ajusta a largura da imagem */
}

@keyframes upAndDown {
  0% {
    transform: translateX(-50%) translateY(0);   /* posição inicial */
  }
  100% {
    transform: translateX(-50%) translateY(10px); /* vai levemente para baixo */
  }
}

/* upAndDown é um nome que dei para a animação, funciona como um "identificador" da animação — o CSS precisa saber qual animação aplicar quando você escreve animation: */

.sobre:after {
  content: url('./images/seta_preta.png');
  position: absolute;
  bottom: 40px;           
  left: 50%;              
  transform: translateX(-50%); /* posição inicial */
  height: 35px;
  animation: upAndDown 0.8s infinite alternate ease-in-out;
}

.conteudos{
  display: flex;
  justify-content: space-between; /* Distribui o espaço entre os elementos */
  padding: 40px; /* Adiciona um espaçamento interno */
  line-height: 1.5;
}

.conteudos .blog{
  max-width: 500px; /* Limita a largura máxima do texto */
}

.conteudos .titulo-blog{
  font-size: 25px;
  margin-bottom: 20px;
}

.conteudos .info-blog{
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 300;
}

.conteudos .img-blog{
  width: 20%; /* Ajusta a largura da imagem */
}

.conteudos .carreira{
  max-width: 500px; /* Limita a largura máxima do texto */
}

.conteudos .titulo-carreira{
  font-size: 25px;
  margin-bottom: 20px;
}

.conteudos .info-carreira{
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 300;
}

.conteudos .btn-curriculo{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  transition: background-color 0.1s;
  cursor: pointer;
}

.conteudos .btn-curriculo:hover {
  background-color: #43a047;
  box-shadow: 0 0 5px #4CAF50;
}

.contato{
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  gap: 30px; /* Espaço entre o texto e a imagem */
  padding: 40px; /* Adiciona um espaçamento interno */
}

.contato .icone{
  width: 40px; /* Ajusta a largura da imagem */
  margin-top: 100px;
}

@media (max-width: 1024px) {
  .sobre {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 150px;
  }

  .sobre img {
    width: 30%; /* Ajusta a largura da imagem para telas menores */
    margin-top: 20px; /* Espaço entre o texto e a imagem */
  }

  .sobre:after {
    content: none; /* remove o conteúdo da seta */
  }

  .conteudos {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 90px;
  }

  .conteudos .img-blog {
    width: 10%; /* Ajusta a largura da imagem para telas menores */
    margin-top: 20px; /* Espaço entre o texto e a imagem */
  }

  .conteudos .blog, .conteudos .carreira {
    max-width: 100%; /* Permite que os textos ocupem toda a largura disponível */
    margin-bottom: 40px; /* Espaço entre os artigos */
  }

  .contato {
    margin-top: 50px;
  }
}


@media (max-width: 768px) {
  .cabecalho {
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    gap: 20px;
  }

  .logo-area {
    justify-content: center;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .icones {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .icones li a {
    font-size: 20px;
    padding: 10px 20px;
  }

  .btn-cadastro {
    padding: 12px 30px;
    font-size: 16px;
  }
}